<h1 class="title">Propiedades</h1>
<div class="filter-bar">
    <span class="badge bg-secondary property-badge">Haciendas</span>
    <span class="badge bg-secondary property-badge">Campos</span>
    <span class="badge bg-secondary property-badge">Luxury</span>
</div>

<div class="list-properties">

</div>


<div class="row">
    <div class="col">
        <app-card tipoPropiedad="Luxury"></app-card>
    </div>
    <div class="col">
        <app-card tipoPropiedad="Luxury"></app-card>

    </div>
    <div class="col">
        <app-card tipoPropiedad="Luxury"></app-card>

    </div>


</div>