<footer>
    <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img class="logoFooter" src="../../../assets/images/logo/logo-con-relleno.png" width="90" height="160" alt="logo" />
          </div>
          <div class="col-md-2">
            <p class="footerSectionTitle">Nosotros</p>
            <ul>
              <li>
                <a class="footerSectionItem">Quiénes somos</a>
              </li>
              <li>
                <a class="footerSectionItem">Agentes</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footerSectionTitle">Contacto</p>
            <ul>
              <li>
                <a class="footerSectionItem">Lorem</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footerSectionTitle">Contacto</p>
            <ul>
              <li>
                <a class="footerSectionItem">Lorem</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footerSectionTitle">Inversiones</p>
            <ul>
              <li>
                <a class="footerSectionItem">Lorem</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
              <li>
                <a class="footerSectionItem">Lorem impsum</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <p class="footerSectionTitle">Contacto</p>
            <ul>
              <li class="footerMapColumn">
                <a>Mail: correo@correo.com</a>
              </li>
              <li class="footerMapColumn">
                <a>Télefono: +54 156987653</a>
              </li>
            </ul>
            <img class="mapFooter" src="assets/images/map.png" />
          </div>
        </div>
    </div>

</footer>