<div class="firstSection">
    <div class="homeTitleSection">
        <h2>Hermes Capital</h2>
        <img src="https://dummyimage.com/450x225" alt="logo" />
    </div>
    <div class="bottomFSection">
        <div class="row">
            <div class="col-md-2">
                <div class="scrollDown">
                    <div class="scrollDownButton">
                        <a href="#inmobiliaria"><span></span><span></span><span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 oportunidadesSection">
                <div class="oportunidadesTitle">
                    <p>OPORTUNIDADES</p>
                    <a href="#">Ver mas</a>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="oportunidadesCard">
                            <img src="https://dummyimage.com/400x200" alt="logo" />
                            <p>Lorem ipsum dolor sit sat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inmobiliaria" id="inmobiliaria">
    <div class="homeSection">
        <div class="row">
            <div class="col-md-2">
                <img src="https://dummyimage.com/380x350" alt="logo" />
            </div>
            <div class="col-md-10 inmobiliariaInfo">
                <h3>Inmobiliaria</h3>
                <h5>Más vistos</h5>
                <div class="cardSlide">
                    <app-card tipoPropiedad="Hacienda"></app-card>
                    <app-card tipoPropiedad="Campos" class="cardItem"></app-card>
                    <app-card tipoPropiedad="Hacienda" class="cardItem"></app-card>
                    <app-card tipoPropiedad="Campos" class="cardItem"></app-card>
                </div>
                <a class="viewMore black" href="#">Todas las propiedades <span class="viewIcon">></span></a>
            </div>
        </div>
    </div>
</div>
<div class="luxury">
    <div class="homeSection">
        <div class="row">
            <div class="col-md-2">
                <img src="https://dummyimage.com/380x350" alt="logo" />
            </div>
            <div class="col-md-10 homeSectionInfo">
                <h3>Luxury</h3>
                <h5>Más buscadas</h5>
                <div class="cardSlide">
                    <app-card></app-card>
                    <app-card class="cardItem"></app-card>
                    <app-card class="cardItem"></app-card>
                    <app-card class="cardItem"></app-card>
                </div>
                <a class="viewMore" href="#">Todas las propiedades <span class="viewIcon">></span></a>
            </div>
        </div>
    </div>
</div>
<div class="extranjera">
    <div class="homeSection">
        <div class="row">
            <div class="col-md-2">
                <img src="https://dummyimage.com/380x350" alt="logo" />
            </div>
            <div class="col-md-10 homeSectionInfo">
                <h3>Propiedades extranjeras</h3>
                <p>Conocé el servicio de compra de propiedades fuera de Argentina. <a href="#">Más información</a></p>
                <h5>Más vistos</h5>
                <div class="cardSlide">
                    <app-card></app-card>
                    <app-card class="cardItem"></app-card>
                    <app-card class="cardItem"></app-card>
                    <app-card class="cardItem"></app-card>
                </div>
                <a class="viewMore" href="#">Todas las propiedades <span class="viewIcon">></span></a>
            </div>
        </div>
    </div>
</div>
<div class="financiacion">
    <div class="homeSection">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="financiacionSection">
                    <h3>Financiación</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="financiacionItem">
                                <img class="financiacionIcon" src="assets/images/financiacionIcon.PNG" alt="">
                                <p class="financiacionText">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, non. Magnam porro officiis natus adipisci dignissimos eum numquam a suscipit perferendis! Animi itaque provident et ea soluta, ex maxime
                                </p>
                            </div>
                            <div class="financiacionItem">
                                <img class="financiacionIcon" src="assets/images/financiacionIcon.PNG" alt="">
                                <p class="financiacionText">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, non. Magnam porro officiis natus adipisci dignissimos eum numquam a suscipit perferendis! Animi itaque provident et ea soluta, ex maxime
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="financiacionItem">
                                <img class="financiacionIcon" src="assets/images/financiacionIcon.PNG" alt="">
                                <p class="financiacionText">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, non. Magnam porro officiis natus adipisci dignissimos eum numquam a suscipit perferendis! Animi itaque provident et ea soluta, ex maxime
                                </p>
                            </div>
                            <div class="financiacionItem">
                                <img class="financiacionIcon" src="assets/images/financiacionIcon.PNG" alt="">
                                <p class="financiacionText">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, non. Magnam porro officiis natus adipisci dignissimos eum numquam a suscipit perferendis! Animi itaque provident et ea soluta, ex maxime
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>