<div class="oportunidadesBox">
    <div class="container">
        <div class="oportunidadesSection">
            <div class="row">
                <div class="col-md-6">
                    <h3>Port Charlotte</h3>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <button>Call to action</button>
                </div>
                <div class="col-md-6">
                    <img class="oportuImg" src="https://dummyimage.com/800x400" alt="">
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <div class="row">
                <div class="col-md-6">
                    <img class="oportuImg" src="https://dummyimage.com/800x400" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Nuestras propiedades</h3>
                    <div class="oportuItem">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, illo eveniet! Quae iusto tenetur 
                        qui nam neque tempora assumenda velit expedita cumque vero ducimus itaque pariatur, ut sunt, tempore officiis.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, illo eveniet! Quae iusto tenetur 
                        qui nam neque tempora assumenda velit expedita cumque vero ducimus itaque pariatur, ut sunt, tempore officiis.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, illo eveniet! Quae iusto tenetur 
                        qui nam neque tempora assumenda velit expedita cumque vero ducimus itaque pariatur, ut sunt, tempore officiis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <div class="row">
                <div class="col-md-6">
                    <h3>Viviendas</h3>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="oportuImg" src="https://dummyimage.com/800x400" alt="">
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <h3>Costos y tarifas</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?
                        </p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <h3>Financiación</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="cuotasMensuales">
                        <p>Cuotas mensuales de</p>
                        <h1>U$S 200,89</h1>
                        <p>Cuota inicial desde U$S 3000</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <div class="row">
                <div class="col-md-6">
                    <img class="oportuImg" src="https://dummyimage.com/800x400" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Viaje de inspección</h3>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <h3>Garantías</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oportunidadesSection">
            <div class="row">
                <div class="col-md-6">
                    <h3>Servicio al cliente</h3>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <div class="oportuItem">
                        <img class="itemPoint" src="assets/images/point.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et molestias ab tempore placeat at repellendus ad?</p>
                    </div>
                    <button>Call to action</button>
                </div>
                <div class="col-md-6">
                    <img class="oportuImg" src="https://dummyimage.com/800x400" alt="">
                </div>
            </div>
        </div>
    </div>
</div>