<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="home">
          <img src="assets/imgs/logo.png" alt="" width="150" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="propiedades">Inmobiliaria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Luxury</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Financiación</a>
          </li>
          <li class="nav-item">
            <button type="button" routerLink="oportunidades" class="btn btn-light">Oportunidades</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
