<div class="propiedad">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://dummyimage.com/600x350" class="d-block w-100" alt="imagen carrusel">
                  </div>
                  <div class="carousel-item">
                    <img src="https://dummyimage.com/600x350" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://dummyimage.com/600x350" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://dummyimage.com/600x350" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="descProp">
                <h3>Route 35 Km 350</h3>
                <h3>US$ 2.655.000</h3>
                <div class="hectareas">
                    <img src="assets/images/resize.png" alt="">
                    <p>1000</p>
                </div>
                <p>Hectareas</p>
                <div class="propButton">
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Contactar un agente</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row secRow borderTop">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <img src="https://dummyimage.com/300x300" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                    <img src="https://dummyimage.com/300x300" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                    <img src="https://dummyimage.com/300x300" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                    <img src="https://dummyimage.com/300x300" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                    <img src="https://dummyimage.com/300x300" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="moreDesc">
                <h3>Descripción</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis nisi repellendus, atque maiores earum officia cum. Sed esse voluptate exercitationem? Id voluptates eveniet quas qui laboriosam repellat, sed totam omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusantium inventore debitis neque obcaecati at repellat odio quis illo hic, saepe deserunt sint est suscipit magni velit ducimus doloribus sed.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci consectetur iure commodi omnis eveniet, voluptatibus quisquam quasi itaque laboriosam pariatur atque voluptate architecto earum necessitatibus iste enim amet ratione obcaecati. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores a sint nam quisquam atque blanditiis, magni suscipit voluptas error inventore quaerat animi repudiandae necessitatibus ad beatae, rem laborum, officia nobis.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4>Contacta un agente</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="modalForm" action="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>
</div>